@import './mixins.scss';
@import './var.scss';

page,
.page,
body {
  min-height: 100vh;
}
page {
  // padding-bottom: constant(safe-area-inset-bottom);
  // padding-bottom: env(safe-area-inset-bottom);
}

.u-flex {
  /* #ifndef APP-NVUE */
  display: flex;
  /* #endif */
  flex-direction: row;
  // align-items: center;
}

.padding_box {
  padding: 30rpx;
}

.absolute-auto {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

page,
.page-content,
body {
  min-height: 100vh;
}

.primary_color {
  color: $--color-primary;
}

.bg-box-white {
  background-color: $--color-white;
}

.bg-box-grey {
  background-color: $--color-background-grey-3;
}

.primary-btn {
  color: #fff;
  @include linear-gradient($--color-primary, #82c6ea, to right);
  @include box-shadow(0, 10rpx, 20rpx, 0rpx, rgba(130, 198, 234, 0.21));
}

// .btn-container {
//   width: 100%;
// }

f-button,
u-button {
  flex: 1;
  width: 100%;
}

// .format-btn-border {
//   /deep/ .u-hairline-border::after {
//     left: 2rpx !important;
//     top: 2rpx !important;
//     width: 198.8% !important;
//     height: 194.7% !important;
//   }
// }

.font-weight-500 {
  -webkit-text-stroke: 0.4px;
}

.ml-20 {
  margin-left: 40rpx;
}
.ml-16 {
  margin-left: 32rpx;
}
.mr-16 {
  margin-right: 32rpx;
}

.footer-box {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-sizing: border-box;
  padding: 30rpx;
  // padding-bottom: 30rpx;
  padding-bottom: calc(30rpx + constant(safe-area-inset-bottom));
  padding-bottom: calc(30rpx + env(safe-area-inset-bottom));
  // padding-bottom: constant(safe-area-inset-bottom);
  // padding-bottom: env(safe-area-inset-bottom);
  z-index: 555;
  u-button + u-button {
    margin-left: 15rpx;
  }
}
